main{
   width: 1200px;
    margin: 0 auto;
    max-width: 90%;
  
}

body{
    background-color: lightseagreen;
}
section{
    background-color: whitesmoke;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
}
.top-player,.blogs{
    display: grid;
 
    grid-gap: 30px;
    
}

.top-player{
    grid-template-columns:repeat(3,1fr);
    padding-left:50px;
}
.blogs
{
   
    grid-template-columns: repeat(2,1fr);
    
}
.player,.blog{
    display: flex;
    align-items: center;
  
  
    
}
.player img{
    height: 50px;
    margin-right: 30px;
}

.thumbnil img{
    height: 200px;
    margin: 20px;
}
.filled{
    color: goldenrod;
    font-size: .8em;
}
.un-filled{
    color: lightgray;
}
.courses{
    display: grid;
    
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    place-items: center;
}

.course img{
    height: 150px;
}
.course-info{
    display: flex;
}
a{
    text-decoration: none;
}
@media (max-width:992px) {
    .top-player,.courses{
        
        grid-template-columns:repeat(2,1fr);
      
    }
    .blogs
{
   
    grid-template-columns: repeat(1,1fr);
    
}
    
}
@media (max-width:668px) {
    .top-player,.courses{
        
        grid-template-columns:repeat(1,1fr);
      
    }
    .blog{
      display: block;
        
    }

    
}
